@charset "UTF-8";
.u-disabled {
  opacity: .3;
  pointer-events: none; }

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.u-button {
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease; }
  .u-button:hover {
    color: white;
    transition: all 0.3s ease; }

.u-circle {
  border-radius: 50%;
  overflow: hidden; }

.disabled {
  pointer-events: none;
  opacity: .4; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

.main-wrapper {
  padding-left: 300px; }

.sidebar {
  height: 100vh;
  background-color: #333;
  width: 300px;
  padding-top: 40px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); }

.main-logo {
  padding: 10px 20px 40px 20px;
  margin: 0;
  font-size: 1.43rem;
  line-height: 1;
  text-align: right;
  font-weight: 600;
  text-transform: uppercase;
  color: white; }
  .main-logo > img {
    max-width: 180px;
    margin-left: 60px; }
  .main-logo > span {
    opacity: .4; }

.long-text .page-title {
  margin-top: 30px;
  margin-bottom: 80px;
  font-weight: 100;
  font-size: 4rem;
  text-transform: none;
  color: #3a225b; }
.long-text h1, .long-text h2, .long-text h3, .long-text h4, .long-text h5 {
  position: relative;
  padding-top: 20px; }
  .long-text h1:after, .long-text h2:after, .long-text h3:after, .long-text h4:after, .long-text h5:after {
    content: attr(data-number);
    right: 100%;
    bottom: 0;
    padding: 0 30px 0 0;
    font-weight: 600;
    height: 100%;
    text-align: right;
    font-size: 1.4rem;
    line-height: 1;
    position: absolute;
    color: rgba(0, 0, 0, 0.2); }
.long-text h1 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1;
  text-transform: uppercase; }
.long-text h2 {
  margin: 30px 0 0 0;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1; }
.long-text h3 {
  margin: 30px 0 0 0;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1; }
.long-text h4 {
  margin: 30px 0 0 0;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1; }
.long-text h5 {
  line-height: 1; }

.post {
  margin-bottom: 40px; }
  .post h1 a:hover {
    text-decoration: none;
    color: #523080; }
  .post img.landscape {
    display: block;
    margin: 40px auto;
    max-width: 100%; }
  .post img.portrait {
    margin: 30px 40px 30px 0;
    max-width: 200px;
    float: left; }

.post-image {
  height: 200px;
  background-position: center; }

.long-text .page-title__post {
  font-size: 3rem;
  margin-bottom: 40px; }

#back-button {
  position: absolute;
  top: 40px;
  left: 340px;
  border-radius: 50%;
  height: 72px;
  width: 72px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: rgba(255, 255, 255, 0.2); }
  #back-button > i {
    font-size: 3rem; }
  #back-button:hover {
    border: 1px solid white;
    color: white; }

.top-section--main-color {
  background-color: #523080; }

.post-list-page {
  padding-left: 300px; }

.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto); }
  @media (max-width: 64em) {
    .post-list {
      grid-template-columns: repeat(1, 1fr); } }
  @media (min-width: 1440px) {
    .post-list {
      grid-template-columns: repeat(3, 1fr); } }

.post-item {
  padding: 20px 40px;
  display: block;
  border: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  background-color: white; }
  @media (min-width: 1440px) {
    .post-item:nth-of-type(even) {
      background-color: #f1f1f1; } }
  .post-item__date {
    margin: 0;
    font-size: .8rem;
    text-transform: uppercase; }
  .post-item h1 {
    font-size: 1.2rem;
    margin: 10px 0;
    line-height: 1.3;
    font-weight: 400; }
  .post-item__summary {
    font-weight: 300;
    margin: 0; }
  .post-item:hover {
    transform: scale(1.1);
    text-decoration: none;
    background-color: #d5c6e9;
    border: 1px solid #523080 !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
    color: #523080; }

.sidebar-list {
  width: 300px;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .sidebar-list a,
  .sidebar-list a:hover {
    text-decoration: none;
    font-weight: 600; }
  .sidebar-list ul {
    padding: 0;
    margin: 0; }
    .sidebar-list ul li {
      margin: 0;
      background-color: rgba(255, 255, 255, 0.025);
      padding-left: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .sidebar-list ul li a {
        display: block;
        padding: 10px 20px;
        color: white;
        position: relative; }
      .sidebar-list ul li a:not(:only-child):before {
        content: "+";
        position: absolute;
        left: 10px;
        font-size: 1.5rem;
        line-height: 1;
        opacity: .4; }
  .sidebar-list li li a {
    padding-right: 35px; }
  .sidebar-list li li li a {
    padding-right: 50px; }
  .sidebar-list .animate {
    transition: all 0.8s; }
  .sidebar-list li ul {
    max-height: 0;
    height: auto;
    overflow: hidden; }
  .sidebar-list .js-active > ul {
    max-height: 10000px;
    height: auto; }
  .sidebar-list .js-active > a:not(:only-child):before {
    content: "–"; }
  .sidebar-list ul {
    background-color: rgba(255, 255, 255, 0.025); }

.sidebar-list a:hover {
  background-color: rgba(255, 255, 255, 0.3); }
.sidebar-list li ul {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); }
.sidebar-list li li {
  background-color: rgba(0, 0, 0, 0.1); }

.ct-event .top-section h2, .ct-event .top-section h3, .ct-event .top-section h4, .ct-event .top-section h5 {
  margin: 0; }
.ct-event .top-section h2 {
  margin-top: 40px; }
.ct-event .top-section h5 {
  margin-bottom: 40px; }
.ct-event .top-section img {
  max-width: 260px;
  margin-top: 30px; }
@media (max-width: 40em) {
  .ct-event .top-section {
    padding-left: 20px;
    padding-right: 20px; } }
.ct-event .page-section:first-of-type {
  padding-top: 0;
  padding-bottom: 0; }
.ct-event .ct-event-info {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
  padding: 30px;
  height: 100%; }
  @media (min-width: 64.063em) {
    .ct-event .ct-event-info {
      text-align: right;
      padding-right: 50px; } }
  .ct-event .ct-event-info h2, .ct-event .ct-event-info h3, .ct-event .ct-event-info h4 {
    margin: 0;
    line-height: 1; }
  .ct-event .ct-event-info h2 {
    margin-top: 15px;
    opacity: .4; }
  .ct-event .ct-event-info h4 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 10px; }
@media (max-width: 40em) {
  .ct-event .ct-description {
    padding: 0 20px; } }
@media (min-width: 40.063em) {
  .ct-event .ct-description {
    padding: 30px 50px; } }
.ct-event .ct-speakers {
  text-align: center; }
.ct-event .ct-speaker {
  padding: 30px; }
  .ct-event .ct-speaker h5, .ct-event .ct-speaker h6, .ct-event .ct-speaker p {
    margin: 0; }
.ct-event .ct-speaker-pic {
  max-width: 240px;
  margin: 0 auto 20px;
  height: 240px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); }
.ct-event .button--border {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 30px; }
  .ct-event .button--border:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white; }
.ct-event .book-cover {
  text-align: center; }
  @media (min-width: 64.063em) {
    .ct-event .book-cover {
      position: relative;
      top: -20%; } }
.ct-event .partner-logo {
  text-align: center; }
  .ct-event .partner-logo img {
    max-width: 180px; }
    @media (max-width: 64em) {
      .ct-event .partner-logo img {
        margin: 20px; } }
