---
layout: default
title: GovLab Blog
---

<main role="main" class="main-wrapper"> <!-- main content starts here -->

    <aside class="sidebar">
        <a href="{{site.url}}{{site.baseurl}}/"><h1 class="main-logo">
          <img src="{{ '/images/govlab-logo-white.png' | absolute_url}}" alt="">
      </h1></a>
      {% include sidebar.html %}
  </aside>

  <section class="main-content long-text docs">
      <h1 class="page-title">{{page.title}}</h1>
      {% assign blog = site.data.contentful.spaces.blog.blogPost | sort: 'postDate' %}
      {% assign digest = site.data.contentful.spaces.blog.digestPost | sort: 'postDate' %}
      {% assign size1 = blog | size %}
      {% assign size2 = digest | size %}
      {% assign total = size1 | plus:size2 %}
      {% assign total0 = total | minus:1 %}
      {% assign bi = 0 %}
      {% assign di = 0 %}
      {% for i in (0..total0) %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'odd' %}
      {% assign post = blog[bi] %}
      {% assign bi = bi | plus:1 %}
      <div class="post">
          <h1><a href="{{site.url}}{{site.baseurl}}/blog/{{post.title | slugify}}.html">{{post.title}}</a></h1>
          <p><b>{{post.postDate | date: "%m/%d/%Y"}}</b> by <b>{{post.author}}</b></p>
          <div class="post-image" style="background-image: url('{{post.postImages[0].url}}')"></div>
          <p>{{post.postSummary}}</p>
          <a class="button" href="{{site.url}}{{site.baseurl}}/blog/{{post.title | slugify}}.html">Read More</a>
      </div>
      {% elsif thecycle == 'even' %}
      {% assign post = digest[di] %}
      {% assign di = di | plus:1 %}
      <div class="post">
          <h1><a href="{{site.url}}{{site.baseurl}}/digest/{{post.title | slugify}}.html">{{post.title}}</a></h1>
          <p><b>{{post.postDate | date: "%m/%d/%Y"}}</b></p>
          {{post.postContent | truncatewords: 100 | markdownify}}
          <a class="button" href="{{site.url}}{{site.baseurl}}/digest/{{post.title | slugify}}.html">Read More</a>
      </div>
      {% endif %}
      {% endfor %}
  </section>
</main>

