---
layout: default
title: GovLab Blog
---

<main role="main" class="main-wrapper post-page"> <!-- main content starts here -->

    <aside class="sidebar">
        <a href="{{site.url}}{{site.baseurl}}/"><h1 class="main-logo">
          <img src="{{ '/images/govlab-logo-white.png' | absolute_url}}" alt="">
      </h1></a>
      {% include sidebar.html %}
  </aside>
  
  <section class="top-section top-section--main-color">
    <a id="back-button" href="{{site.url}}{{site.baseurl}}/" title="Back to blog"><i class="material-icons">arrow_back</i></a>
    <h3>{{page.postDate | date: "%b %d, %Y"}}</h3>
    <h1 class="page-title page-title__post">{{page.title}}</h1>
    <!-- This is not pulling teh right authors -->
    <h3>By {{page.author}}</h3>
  </section>
  <section class="main-content post long-text docs">
    <p class="post">{{page.postContent | markdownify}}</p>
</section>
</main>

<!--  -->