// $main-color: #18fce3;
$main-color: #523080;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-wrapper {
  padding-left: 320px;

}

.sidebar {
  height: 100vh;
  background-color: darken($main-color, 20);
  width: 300px;
  padding-top: 40px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.main-logo {
  padding: 10px 20px 40px 20px;
  margin: 0;
  font-size: 1.43rem;
  line-height: 1;
  text-align: right;
  font-weight: 600;
  text-transform: uppercase;
  color: white;

  > img {
    max-width: 180px;
    margin-left: 60px;
  }

}



.long-text {
  .page-title {
    margin-top: 30px;
    margin-bottom: 80px;
    font-weight: 100;
    font-size: 4rem;
    text-transform: none;
    color: darken($main-color, 10);
  }

  h1, h2, h3, h4, h5 {
    position: relative;
    padding-top: 20px;

    &:after {
      content: attr(data-number);
      right: 100%;
      bottom: 0;
      padding: 0 30px 0 0;
      font-weight: 600;
      height: 100%;
      text-align: right;
      font-size: 1.4rem;
      line-height: 1;
      position: absolute;
      color: rgba(black, .2);

    }
  }


  h1 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1;
    text-transform: uppercase;
  }

  h2 {
    margin: 30px 0 0 0;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 1;
  }

  h3 {
    margin: 30px 0 0 0;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1;
  }

  h4 {
    margin: 30px 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
  }

  h5 {
    line-height: 1;
  }
}

.docs {
  .post {
    margin-bottom: 40px;
    h1 a {
      &:hover {
        text-decoration: none;
        color: $main-color;
      }
    }
    img {
      &.landscape {
        display: block;
        margin: 40px auto;
        max-width: 80%;
      }
      &.portrait {
        margin: 30px 40px 30px 0;
        max-width: 200px;
        float: left;
      }
    }
  }
}
.post-image {
  height: 200px;
  background-position: center;
}
.long-text {
  .page-title {
    &__post {
      font-size: 3rem;
      margin-bottom: 40px;
    }
  }
}