.ct-event {
.top-section {
  h2, h3, h4, h5 { margin: 0; }

  h2 { margin-top: 40px; } 
  h5 { margin-bottom: 40px; } 
  
  
  img {
    max-width: 260px;
    margin-top: 30px;
  }

  @include breakpoint($small-only) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page-section:first-of-type { 
  padding-top: 0; 
  padding-bottom: 0; 
}

.ct-event-info {
  background-color: rgba(black, .8);
  text-align: center;
  color: white;
  padding: 30px;
  height: 100%;

  @include breakpoint($large) {
    text-align: right;  
    padding-right: 50px;
  }

  h2, h3, h4 {
    margin: 0;
    line-height: 1;
  }

  h2 {
    margin-top: 15px;
    opacity: .4;
  }

  h4 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

.ct-description { 
  // max-width: 800px;
  @include breakpoint($small-only) { padding: 0 20px; }
  @include breakpoint($medium-up) { padding: 0 40px; }
}

.ct-speakers {
  text-align: center;
}

.ct-speaker {
  padding: 30px;

  h5, h6, p { margin: 0; }
}

.ct-speaker-pic {
  max-width: 240px;
  margin: 0 auto 20px;
  height: 240px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(black, .2);
}

.button--border {
  background-color: transparent;
  border: 1px solid rgba(white, .3);
  margin-bottom: 30px;

  &:hover {
    background-color: rgba(white, .1);
    border-color: white;
  }
}

.book-cover {
  text-align: center;
  @include breakpoint($large) {
    position: relative;
    top: -20%;
  }
}

.partner-logo {
  text-align: center;

  img {
    max-width: 180px;
    @include breakpoint($touch) { margin: 20px; }
  }
}


















}