.ct-event {

.top-section {
  h2 { margin-bottom: 0; } 
  h3 { margin-top: 0; }
  img {
    max-width: 260px;
    margin-top: 30px;
  }
}

.page-section:first-of-type { 
  padding-top: 0; 
  padding-bottom: 0; 
}

.ct-event-info {
  background-color: rgba(black, .8);
  text-align: right;
  color: white;
  padding: 30px;
  margin-right: 50px;
  height: 100%;

  h2, h3, h4 {
    margin: 0;
    line-height: 1;
  }

  h2 {
    margin-top: 15px;
    opacity: .4;
  }

  h4 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

.ct-description { max-width: 800px; }

.ct-speakers {
  text-align: center;
}

.ct-speaker {
  padding: 30px;

  h5, h6, p { margin: 0; }
}

.ct-speaker-pic {
  max-width: 240px;
  margin: 0 auto 20px;
  height: 240px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(black, .2);
}

.button--border {
  background-color: transparent;
  border: 1px solid rgba(white, .3);
  margin-bottom: 30px;

  &:hover {
    background-color: rgba(white, .1);
    border-color: white;
  }
}






















}