.sidebar-list {
  width: 300px;
  text-align: right;
  border-top: 1px solid rgba(black, .1);

  a,
  a:hover {
    text-decoration: none;
    font-weight: 600;
  }

  ul {
    padding: 0;
    margin: 0;
    
    li {
      margin: 0;
      background-color: rgba(white, .025);
      padding-left: 0;
      border-bottom: 1px solid rgba(black, .1);

      a {
        display: block;
        padding: 10px 20px;
        color: white;
        position: relative;
      }

      a:not(:only-child):before { 
        content: "+"; 
        position: absolute;
        left: 10px;
        font-size: 1.5rem;
        line-height: 1;
        opacity: .4;
      }
    }
  }

  li li a { padding-right: 35px;}
  li li li a { padding-right: 50px;}

  .animate {
    transition: all 0.8s;
  }

  li ul {
    max-height: 0;
    height: auto;
    overflow: hidden;
  }

  // li:hover > ul,
  .js-active > ul { 
    max-height: 10000px;
    height: auto;
  }

  .js-active > a:not(:only-child):before { content: "–"; }

  ul { background-color: rgba(white, .025); }
}


// SKIN

.sidebar-list {
  // background-color: darken($main-color, 5);

  a:hover {
    background-color: rgba(white, .3);
  }
  
  li ul { box-shadow: inset 0 2px 5px rgba(black, .4); }
  li li { background-color: rgba(black, .1); }
}
