<section class="sidebar-list">
<ul class="animate">
  <li><a class="js-trigger" href="#blog">Blog</a>
      <ul class="animate">
        {% for j in site.data.contentful.spaces.blog.blogPost %}
          <li class="animate"><a class="js-trigger" href="{{site.url}}{{site.baseurl}}/blog/{{j.title | slugify}}.html">{{j.title}}</a>
<!--           {% if j.subtitles %}
            <ul class="animate">
              {% for k in j.subtitles %}
                <li class="animate"><a class="js-trigger" href="#{{k.title | slugify}}">{{k.title}}</a>
                {% if k.subtitles %}
                  <ul class="animate">
                  {% for m in k.subtitles %}
                    <li class="animate"><a class="js-trigger" href="#{{m.title | slugify}}">{{m.title}}</a>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %} -->
        {% endfor %}
      </ul>
  <li><a class="js-trigger" href="#digest">Digest</a>
      <ul class="animate">
        {% for j in site.data.contentful.spaces.blog.digestPost %}
          <li class="animate"><a class="js-trigger" href="{{site.url}}{{site.baseurl}}/digest/{{j.title | slugify}}.html">{{j.title}}</a>
        {% endfor %}
      </ul>
</ul>
</section>