<header class="top-bar">
  <!-- <span class="top-bar__button js-trigger-menu">menu</span> -->
  <!-- <nav class="main-menu js-target-menu main-menu--left">
    <a href="http://ogrx.org/">Home</a>
    <a href="http://ogrx.org/organizations.html">Organizations</a>
    <a href="http://ogrx.org/categories.html">Categories</a>
    <a href="http://ogrx.org/authors.html">Authors</a>
    <a href="http://ogrx.org/about.html">About</a>
    <a href="http://ogrx.org/submit.html">Submit</a>
    <a href="http://ogrx.org/selectedreadings.html">Selected Readings</a>
    <a href="http://ogrx.org/blog.html">Blog</a>
  </nav> -->
  <a class="top-bar__logo top-bar__logo__desktop" href="http://ogrx.org/">Open Governance Research Exchange | <em>Beta</em></a></a>
  <a class="top-bar__logo top-bar__logo__mobile" href="http://ogrx.org/">OGRX | <em>Beta</em></a></a>
  <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
  <nav class="main-menu js-target-menu main-menu--right">
    <a href="#">Github Repository</a>
    <a href="./sandbox.html">Sandbox</a>
  </nav> -->
</header>